<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h2>{{ example_category }}</h2>
    <ul>
        {% for example in examples_list %}
            <li><a href="{{ example.url }}">{{ example.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>