<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        textarea {
            width: 400px;
            height: 150px;
        }
    </style>
</head>
<body>
    <h1> This is simple sinops client interface</h1>
    <table border="1", cellpadding="5">
        <tbodys>
            <tr>
                <td>result type</td>
                <td>{{ result_type }}</td>
            </tr>
            <tr>
                <td>result value</td>
                <td>{{ result_value }}</td>
            </tr>
        </tbodys>
    </table>

    {%  if result_type == 'ASK_SIGNATURE' %}
        <h2>Please sign content displayed below:</h2>

        <div><label for="content_to_sign">content to be signed:</label></div>
        <textarea id="content_to_sign">{{ content_to_sign }}</textarea>


        <form method="post" action="{{ action_url }}" id="signature-form">
            <div><label for="signed_message">signature data:</label></div>
            <textarea id="signed_message" placeholder="enter signed message" name="{{ signature_param_name }}"></textarea>
        </form>

        <button type="submit" form="signature-form" value="Submit">Submit</button>
    {% endif %}
</body>
</html>